.header-container {
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 100px;
  width: 94vw;
  height: 95px;
  background-color: #fff;

  h1 {
    width: 240px;
    height: 37px;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0290ff;
  }
}
